body {
  font-family: 'Droid Sans', sans-serif;
  background-color: #000000;
}

body > .container {
	background-color: #EBEBEB;
}
#content {
	background-color: #EBEBEB;
}

.carousel {
	width: 86.603%;
	margin: auto;
}

.navbar-inverse {
	background-color: #F70000;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	color: #0B0B0B;
	background-color: #EBEBEB;
}

.navbar-inverse .navbar-nav > li > a {
  color: #000000;
  font-size: 1.1em;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand {
    margin-left: -15px;
    color: #000000;
  }
}

.container { max-width: 940px; }
#myNav li { border-left: 1px solid #ccc; }
#myNav li:first-child { border: none; }
